@import 'colors';

.comingSoonImg {
    margin: 25px 25px 0px 25px;
    max-width: 100%;
    height: auto;
}

.comingSoon {
    text-align: center;
    font-family: 'Caveat Brush', cursive;
    font-size: 64px; 
    font-style: normal; 
    font-variant: small-caps; 
    font-weight: 700; 
    line-height: 96px;
}

.orange {
    color: $orange;
}

.green {
    color: $green;
}

.current {
    color: green;
}

.teamMember {
    margin: 10px 0px;
    padding: 10px;
    background-color: #fafafa!important;
}

.teamMember a.name {
    font-size: 24px;
    color: $gray;

}